<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <storeshipping>
                <active>1</active>
                <sallowspecific>0</sallowspecific>
                <model>Academy\PickUpAtStore\Model\Carrier\PickUpShipping</model>
                <name>Pickup At Store</name>
                <price>0</price>
                <title>Pickup At Store</title>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
                <wait_message>Need to wait 1-2 days for delivery to this store</wait_message>
                <handling_type>F</handling_type>
            </storeshipping>
        </carriers>
    </default>
</config>